.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 500px;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px grey;
}

.form {
  display: inherit;
}

.submit-btn {
  cursor: pointer;
  animation: submit 3s linear infinite alternate;
  width: 100px;
  height: 40px;
  box-shadow: 2px 2px grey;
}

@keyframes submit {
  0% {
    background: coral;
  }
  25% {
    background: lightskyblue;
  }
  50% {
    background: greenyellow;
  }
  75% {
    background: grey;
  }
}
